body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ea74a9;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}